# Compiled classes #
*.class

# IntelliJ files #
*.iml
*.idea

# Local resources #
**.project
**.settings**
**gensrc**
**generated**
**Generated**
**.log
**eclipsebin**

**build.xml
**.xsd
**platformhome.properties
**testclasses.xml
**/target/
/bin/
**ruleset.xml


.lastupdate

.lastupdate         

*_bof.jar
addon-*.jar
