# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

productcomparison.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
productcomparison.application-context=productcomparison-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.productcomparison=classpath:/productcomparison/web/spring/productcomparison-web-spring.xml



productcomparison.javascript.paths.responsive=/responsive/common/js/productcomparison.js
productcomparison.css.paths.responsive=/responsive/common/css/productcomparison.css
product.comparison.max.queue.size=3